<nav>
  <% if (currentUser) { %>
  <a href="/">Home</a>
  <a href="/games">My games</a>
  <a href="/favorites">Favorites</a>
  <a href="/auth/sign-out">Sign out</a>
  <% } else { %>
  <a href="/auth/sign-in">Sign in</a>
  <a href="/auth/sign-up">Sign up</a>
  <% } %>
</nav>
